.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    padding: 35px;
}
.footer {
    display: flex;
    flex-direction: column;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  align-items: center;
}
.icon {
  height: 20px;
  margin-left: 12px;
}
.title {
    font-family: Saudagar;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
