.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    padding: 35px;
    background-color: #dcd5ce;
}
.footer {
    display: flex;

}
.icons {
  width: 100%;
  display: flex;
  justify-content: right;
  z-index: 3;
  align-items: center;
}
.icon {
  height: 20px;
  margin-left: 12px;
}
.title {
    font-family: Saudagar;
    color: white;
    font-size: 32px;
    width: 100%;
}
