.header {
  padding: 35px;
  display: flex;
}
.menu {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.menuItem {
  display: inline;
  padding-right: 15px;
  text-transform: lowercase;
  cursor: pointer;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: right;
  z-index: 3;
}
.icon {
  height: 20px;
  margin-left: 12px;
}
@media (max-width: 720px) {
  
}