.main {
  height: 100vh;
}
.colorBlock {
  height: 50vh;
  border-radius: 25px;
}
.titleContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: white;
  font-family: 'Forum', cursive;
  width: 700px;
  text-align: center;
  font-size: 100px;
  z-index: 2;
}
.scrollContainer {
  position: absolute;
  bottom: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #5880a5;
  text-transform: lowercase;
}
.scroll {
  font-family: 'Forum', cursive;
  font-size: 18px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img {
  flex: 0 0 30%;
  width: 100px;
  margin: 15px;
  border-radius: 25px;
}

@media (max-width: 600px) {
}
