.main {
  height: 100vh;
}
.imgContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
  pointer-events: none;
  z-index: -1;
}
.headshot {
  justify-content: right;
}
.smallImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcd5ce;
  z-index: -1;
}
.smallImg {
  width: 400px;
}
.titleContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.title {
  color: white;
  font-family: Saudagar;
  width: 700px;
  text-align: center;
  font-size: 107px;
  z-index: 2;
  line-height: 108px;
}
.scrollContainer {
  position: absolute;
  bottom: 35px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  text-transform: lowercase;
}
.scroll {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 720px) {
  .headshot {
    justify-content: center;
  }
  .smallImgContainer {
    display: none;
  }
  .imgContainer {
    overflow: hidden;
    justify-content: center;
    height: 100vh;
  }
  .title {
    font-size: 70px;
    z-index: 2;
    line-height: 80px;
  }
}
