.headerWrapper {
  height: 100px;
  background-color: #dcd5ce;
}
.title {
  color: white;
  font-family: Saudagar;
  font-size: 32px;
  line-height: 1;
  width: 110px;
}
.header {
  padding: 35px;
  display: flex;
}
.menu {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.menuItem {
  display: inline;
  padding-right: 15px;
  text-transform: lowercase;
  cursor: pointer;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: right;
  z-index: 3;
}
.icon {
  height: 20px;
  position: absolute;
  top: 35px;
  right: 35px;
}
@media (max-width: 720px) {
  .headerWrapper {
    height: 80px;
  }
  .header {
    padding: 20px;
  }
  .icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
